/* WRAPPER */
.main {
  display: flex;
  height: 100vh;
  overflow-x: hidden;
}

/* SIDEBAR */
.sidebar,
.sidebar-penghuni {
  width: 250px;
  height: 100%;
  position: static;
  background-color: white;
  padding: 20px;
  border-radius: 0px 10px 10px 0px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* AREA KANAN */
.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-width: 0;
}

/* TOPBAR */
.topbar,
.topbar-penghuni {
  display: flex;
  justify-content: space-between;
  height: 75px;
  background: white;
  gap: 10px;
  align-items: center;
  padding: 0 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.topbar .right,
.topbar-penghuni .right {
  display: flex;
  align-items: center;
  gap: 15px;
}

/* BURGER BUTTON */
.burger-btn {
  font-size: 24px;
  border: none;
  cursor: pointer;
  background: none;
  display: none;
  left: 20px;
  color: #4880ff;
}

/* OVERLAY */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  z-index: 5;
}

/* SIDEBAR TABLET */
@media (max-width: 1024px) {

  .sidebar,
  .sidebar-penghuni {
    width: 200px;
  }

  .burger-btn {
    display: none;
  }

  .topbar,
  .topbar-penghuni {
    font-size: 16px;
  }
  .topbar .right,
.topbar-penghuni .right {
  gap: 12px;
}

}

/* SIDEBAR MOBILE */
@media (max-width: 768px) {

  .burger-btn {
    display: block;
  }

  .sidebar,
  .sidebar-penghuni {
    position: fixed;
    left: -260px; /* sembunyi */
    top: 0;
    z-index: 10;
    height: 100%;
    transition: 0.3s;
  }

  .sidebar.active,
  .sidebar-penghuni.active {
    left: 0; /* muncul */
  }

  .overlay.active {
    opacity: 1;
    visibility: visible;
  }

  .topbar,
  .topbar-penghuni {
    font-size: 12px;
  }
    .topbar .right,
.topbar-penghuni .right {
  gap: 10px;
}

}