<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <title>Document</title> -->

    <!-- CSS -->
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/layout.css" />
</head>

<body>
    <aside class="sidebar-penghuni" id="sidebar-penghuni">
        <a href="../pages/dashboard-penghuni.html" class="logo list-item">
            <img src="../img/logo.png" alt="Logo Kostku" />
        </a>

        <hr class="line-1" />
        <ul class="menu">
            <li class="list-item dashboard">
                <a href="../pages/dashboard-penghuni.html" class="menu-item">
                    <img src="../img/dashboard-icon.png" />
                    <span>Dashboard</span>
                </a>
            </li>

            <li class="list-item pembayaran">
                <a href="../pages/pembayaran-penghuni.html" class="menu-item">
                    <img src="../img/pembayaran-icon.png" />
                    <span>Pembayaran</span>
                </a>
            </li>

            <li class="list-item pengaduan">
                <a href="../pages/pengaduan-penghuni.html" class="menu-item">
                    <img src="../img/pengaduan-icon.png" />
                    <span>Pengaduan</span>
                </a>
            </li>
        </ul>
        <div class="line-2"></div>

        <ul class="menu logout-penghuni">
            <li class="list-item logout">
        <a href="../login-penghuni.html" class="menu-item">
                <img src="../img/logout-icon.png" alt="Logo Logout" />
                <span>Logout</span>
            </a></li>
        </ul>
    </aside>
    <script src="../js/main.js" defer></script>
</body>

</html>